body
{
overflow-x:hidden;
width:100%;
font: 13px "Century Gothic", "Times Roman", sans-serif;
background:#202020;
min-height:555px;
    opacity: .99;
background-attachment:fixed;
}
.bg
{
min-height:555px;
}
.bg1
{
background:url(../image/bg.jpg);
min-height:555px;
}

@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel {

    margin: 10px;
    padding: 10px;
    font: 13px "Segoe UI Semibold", "Times Roman", sans-serif;
}
.exampanel{
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid darkgrey;
}

.answerpanel{
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid darkgrey;
}

.resultpanel{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid darkgrey;
}

.indexpanel{
    border-radius: 5px;
    border-color: #eee;
    background-color: #eee;
    margin:50px;
    padding:20px;
    font: 13px "Segoe UI Semibold", "Times Roman", sans-serif;
    opacity: 0.6;
}

.indexpanel:hover{
    opacity: 1;
}
.navtext {
    font: 13px "Arial", "Times Roman", sans-serif;
}

.navbar-collapse {
    height: 40px;
}

.title
{
font-family:'typo';
}

.header
{
background:#202020;
height:55px;
}
.logo
{
font-family:'typo';
font-size:20px;
color:#ffbb33;
padding-left: 15px;
}

.title1{
font: 12px "Segoe UI Semibold", "Times Roman", sans-serif;
}
.title1:hover {
    color: #000;
}
.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
}


.sub1
{
width:80px;
color:#202020;
background:orange;
font-size:15px;
height:35px;
margin:10px;
padding:10px;
}

.loginbutton {
    margin:10px;
}


.sub
{
width:100%;
background-color:#D50C37;
font-size:20px;
padding:2px;
margin-top:15px;
margin-right:20px;
}
.sub:hover
{
color:#fff;
}

.footer
{
text-align:center;
border-top:1px solid;
border-color:#323232;
background-color:#202020;

}
.footer a
{
margin:25px;
color:orange;
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#D50C37;
border-color:orange;

}

.box
{
padding:9px;
}
hr{
color:#000000;
}
.top
{
margin-top:20px;
}
.log1
{
font: 13px 'Century Gothic', sans-serif;
color:orange;
margin-left:10px;
    padding-right: 20px;
}
.log1:hover {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-color:orange;
    text-decoration:none;

}
.hello
{
    font: 12px 'Century Gothic', sans-serif;
    color:orange;
    margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:orange;
text-decoration:none;
font-size:12px;
}
.log:hover
{
font-weight: bold;
color: #dde6ee;
border-color:orange;
text-decoration:none;
}

.footer-font {
    padding:11px;
}

.footer-font a {
    color: orange;
    font-size: 12px;
}

.footer-font a:hover {
    color: #fff;
    font-weight: bold;
    border-color:orange;
    text-decoration:none;
}

.question {
    font-size: 15px;
    font-weight: bolder;
    font-family: "Century Gothic", serif;
}
.examresult {
    font-family: "Century Gothic", serif;
    font-size: 15px;
    font-weight: bolder;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.navigate {
    color: orange;
    padding-left: 60px;
    text-decoration-color: red;
}